@model IEnumerable<Blog.Models.BlogItem>

@using Blog.Services.Interfaces
@inject IImageService _imageService


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Administrator"))
{
<p>
    <a asp-action="Create">Create New Blog</a>
</p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <img class="img-fluid" src="@_imageService.ConvertByteArrayToFile(item.ImageData, item.ImageType)"/>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BlogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.Created.ToString("MMM dd, yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
            @if (User.IsInRole("Administrator"))
            {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            }
            </td>
        </tr>
}
    </tbody>
</table>
