@using X.PagedList
@using X.PagedList.Mvc.Core
@using Blog.Models
@using Blog.Services.Interfaces
@using X.PagedList.Web.Common

@model IPagedList<BlogItem>
@inject IImageService _imageService

@{
    ViewData["Title"] = "Nick Seyler's Blog Site";
    var itemCount = 0;
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/img/Journal.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Nick Seyler's Dev Blog</h1>
                    <span class="subheading">A Self-Made Website using .NET 6 MVC and PostgreSQL. Hosted with Heroku.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->

            @foreach(var blog in Model)
            {
                itemCount++;

                <div class="post-preview row">
                    <div class="col col-4">
                        <img class="img-fluid" src="@_imageService.ConvertByteArrayToFile(blog.ImageData, blog.ImageType)" />
                    </div>
                    <div class="col col-8">
                        <a asp-action="BlogChildIndex" asp-controller="BlogPosts" asp-route-blogItemId="@blog.Id">
                            <h2 class="post-title">@blog.BlogName</h2>
                            <h5 class="post-subtitle">@blog.Description</h5>
                        </a>
                        <p class="post-meta">
                            Created By Nick Seyler on @blog.Created.ToString("MMM dd, yyyy")
                        </p>
                    </div>
                </div>

                @if (Model.Count != itemCount || itemCount == 1)
                {
                    <!-- Divider-->
                    <hr class="my-4"/>
                }
            }

            <!--Pager-->
            @if (Model.PageCount > 1)
            {
                <div class="row">
                    <div class="col h3">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                    @Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum }),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] {"page-item"},
                            PageClasses = new string[] {"page-link"}
                        })
                </div>
            </div>
            }
        </div>
    </div>
</div>
